<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Show new Password</title>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="header" th:insert="~{header}"></div>
	<div class="container">
		<h2>★★★　新しいパスワードが発行されました。　★★★</h2>
		<h3>ロギング後、「お客様データ」リンクからパスワードの変更ができます。</h3>
		<h2 th:text="${newPassword}">[Placeholder: New Password Value]</h2>
		<div class="footer-link">
	    	<a th:href="@{/login}">ロギングページへ</a>
		</div>	
	</div>
	<footer id="page-footer" th:replace="~{footer}"></footer>
</body>
</html>